[submodule "code/map-server-service-broker"]
	path = code/map-server-service-broker
	url = https://github.com/Pivotal-Japan/map-server-service-broker.git
[submodule "code/map-server"]
	path = code/map-server
	url = https://github.com/Pivotal-Japan/map-server.git
